body, html {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: linear-gradient(#3a3e3f, black);
  background-repeat: no-repeat;
  background-size: 100%;
}
